.loginbg{
    background-image: url('/images/three-students-studying-using-tablet-chatting.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}